<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/result">
        <label for="word">Enter a word</label>
        <input id="word" name="word">
    <button type="submit">Click</button>
    </form>

    <p>Your score is: {{ score.wordCount }}</p>
    <br>
    <br>
    <p>Your word was: {{ score.getWord }}</p>

  </body>
</html>
